.main-selection:hover {
    -fx-background-color: #bcdfff;
    -fx-fill: #bcdfff;
}

.main-selection-container:hover .main-selection {
    -fx-background-color: #bcdfff;
    -fx-fill: #bcdfff;
    -fx-cursor: hand;
}

/*
  Used for highlighting invalid fieldss
 */
:invalid-input {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}

/** Size the combo-box button. */
.combo-box {
    -fx-pref-width: 100;
}

/** Size the combo-box drop down list. */
.combo-box-popup > .list-view {
    -fx-pref-width: 100;
}